:root {
	--lqd-container-width: 1170px;
	--lqd-container-width-md: 970px;
	--lqd-container-width-sm: 750px;
	--lqd-row-gutter-y: 0;
	--lqd-row-gutter-x: 30px;
	/*  */
	--lqd-color-heading-common: #181b31;
	--lqd-color-primary: #8d4bd8;
	--lqd-color-secondary: #ff4d12;
	--lqd-color-blue-900: #001634;
	--lqd-color-blue-800: #002352;
	--lqd-color-blue-700: #033350;
	--lqd-color-blue-400: #1da1f2;
	--lqd-color-gray-500: #707070;
	--lqd-color-gray-300: #d1dcec;
	--lqd-color-gray-100: #fafbff;
	--lqd-color-green-500: #00937e;
	--lqd-color-slate-500: #313f58;
	--lqd-color-slate-300: #d3fff8;
	--lqd-color-slate-100: #f7faff;
	--lqd-color-red-500: #c10909;
	--lqd-color-purple-500: #6e0096;
	--lqd-color-purple-400: #751dd8;
	--lqd-text-color: #5d6371;
	--lqd-color-gradient-start: #fc00df;
	--lqd-color-gradient-stop: #3b59ff;
	/*  */
	--lqd-body-font-family: 'Be Vietnam Pro', sans-serif;
	--lqd-body-font-weight: 400;
	--lqd-body-line-height: 1.7em;
	--lqd-body-font-size: 17px;
	--lqd-body-color: var(--lqd-text-color);
	/*  */
	--lqd-heading-font-family: 'Be Vietnam Pro', sans-serif;
	--lqd-heading-font-weight: 500;
	--lqd-heading-line-height: 1.2em;
	--lqd-heading-color: var(--lqd-color-heading-common);
	/*  */
	--lqd-h1-font-weight: 700;
	--lqd-h1-line-height: 1em;
	--lqd-h1-letter-spacing: -0.01em;
	--lqd-h1-font-size: 58px;
	--lqd-h2-letter-spacing: -0.01em;
	--lqd-h2-font-size: 48px;
	--lqd-h3-font-size: 32px;
	--lqd-h4-line-height: 1.26em;
	--lqd-h4-font-size: 23px;
	--lqd-h5-font-size: 21px;
	--lqd-h6-font-weight: 700;
	--lqd-h6-letter-spacing: .11em;
	--lqd-h6-font-size: 12px;
	--lqd-h6-text-transform: uppercase;
}

/* CONTACT MODAL */
.lity-modal h2 span {
	font-family: 'DM Serif Text', serif;
	font-style: italic;
}

/* MAIN HEADER */
@media (max-width: 1199px){
	.is-stuck .lqd-stickybar-wrap {
		display: none;
	}
}

.is-stuck .lqd-head-sec-wrap {
	background: #fff;
}

.is-stuck .module-logo{
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-header .main-nav {
	--lqd-menu-items-top-padding: 20px;
	--lqd-menu-items-right-padding: 20px;
	--lqd-menu-items-left-padding: 20px;
}

.main-header .main-nav .link-sup {
	top: -2em;
	right: 1em;
	font-size: .625em;
	line-height: 1;
}

.main-header .main-nav > li.active > a,
.main-header .main-nav > li.current-menu-item > a,
.main-header .main-nav > li.current-menu-ancestor > a,
.main-header .main-nav > li > a:hover {
	color: #184341;
}

.main-header .header-module .btn-icon-solid:hover .btn-icon {
	background: #fff;
	color: #000;
}

[data-mobile-nav-style=modern] .lqd-mobile-sec:before {
	background: linear-gradient(270deg, #8defff 0%, #ffaffb 100%);
}

[data-mobile-nav-style=modern] .lqd-mobile-sec .navbar-collapse ul.main-nav.lqd-mobile-main-nav > li > a {
	color:#313f58;
}

/* IMAGES */
.lqd-imggrp-single[data-hover3d] {
	perspective: 1200px;
}

.lqd-imggrp-single[data-hover3d] .lqd-imggrp-img-container {
	transform-style: preserve-3d;
}

/* CAROUSEL MARQUEE */
.lqd-fade-sides.carousel-container .flickity-viewport {
	mask-image: linear-gradient(to right, transparent 0%, #000 20%, #000 80%, transparent 100%);
	-webkit-mask-image: linear-gradient(to right, transparent 0%, #000 20%, #000 80%, transparent 100%);
}

/* ANIMATION */
.lqd-imggrp-single[data-float] {
	--float-animate-to: -3%;
}

/* MAIN FOOTER */
.main-footer .ld-sf--button-naked [type=submit] {
	color: var(--lqd-color-green-500);	
}