:root {
	--lqd-container-width: 1170px;
	--lqd-container-width-md: 970px;
	--lqd-container-width-sm: 750px;
	--lqd-row-gutter-y: 0;
	--lqd-row-gutter-x: 30px;
	/*  */
	--lqd-color-heading-common: #000;
	--lqd-color-primary: #f7473d;
	--lqd-color-secondary: #ff4d12;
	--lqd-color-blue-900: #001634;
	--lqd-color-blue-700: #002b3b;
	--lqd-color-blue-600: #002b3b;
	--lqd-color-brown-700: #502e23;
	--lqd-color-brown-500: #763838;
	--lqd-color-brown-300: #f6dbb8;
	--lqd-color-gray-900: #161616;
	--lqd-color-gray-800: #17171d;
	--lqd-color-green-300: #c6e5c3;
	--lqd-color-slate-100: #def4f4;
	--lqd-color-orange-500: #f98553;
	--lqd-text-color: #808291;
	--lqd-color-gradient-start: #f42958;
	--lqd-color-gradient-stop: #f92cc6;
	/*  */
	--lqd-body-font-family: "Inter",sans-serif;
	--lqd-body-font-weight: 400;
	--lqd-body-line-height: 1.3em;
	--lqd-body-font-size: 16px;
	--lqd-body-color: var(--lqd-text-color);
	/*  */
	--lqd-heading-font-family: dm sans, Arial, Helvetica, sans-serif;
	--lqd-heading-font-weight: 700;
	--lqd-heading-line-height: 1.2em;
	--lqd-heading-color: var(--lqd-color-heading-common);
	/*  */
	--lqd-h1-font-size: 90px;
	--lqd-h1-text-transform: uppercase;
	--lqd-h2-font-size: 120px;
	--lqd-h2-letter-spacing: -0.02em;
	--lqd-h2-line-height: 1.1em;
	--lqd-h3-font-size: 32px;
	--lqd-h4-font-size: 25px;
	--lqd-h5-font-size: 21px;
	--lqd-h6-letter-spacing: .1em;
	--lqd-h6-font-size: 13px;
	--lqd-h6-text-transform: uppercase;
	/*  */
	--lqd-cc-size-inner: 13px;
	--lqd-cc-active-bw: 1px;
	--lqd-cc-active-bg: #000;
	--lqd-cc-active-bc: #000;
	--lqd-cc-size-outer: 35px;
	--lqd-cc-br: calc(var(--lqd-cc-size-outer) /2 );
	--lqd-cc-bc: var(--lqd-color-primary);
	--lqd-cc-bg: var(--lqd-color-primary);
	--lqd-cc-bw: 1px;
	--lqd-cc-active-circle-color: #fff;
	--lqd-cc-active-circle-txt: #000;
	--lqd-cc-active-arrow-color: #fff;
}

/* CUSTOM CURSOR */
.lqd-cc-custom-icon {
	display: inline-flex;
	width: 54px;
	height: 54px;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 30px;
	position: absolute;
	top: calc(50% - 27px);
	left: calc(50% - 27px);
	align-items: center;
	justify-content: center;
	font-size: 30px;
	line-height: 1;
	color: #fff;
	opacity: 0;
	transform: scale(1.1);
	transition: all .3s;
	transition-property: transform, opacity;
}

@media (max-width: 991px) {
	:root {
		--lqd-h2-font-size: 70px;
	}
}

@media (max-width: 767px) {
	:root {
		--lqd-h2-font-size: 60px;
	}
}

/* BUTTON */
.btn-hover-reveal .btn-icon {
	position: relative;
}
.btn-hover-reveal:hover.btn-underlined .btn-icon,
.btn-hover-reveal:hover.btn-naked .btn-icon {
	transform: translateX(.5em);
}
.btn-icon-xlg .btn-icon {
	width: 3.5em;
	height: 3.5em;
}

/* PP NAV */
.lqd-active-row-dark #pp-nav {
	color: rgba(255, 255, 255, .7);
}
.lqd-active-row-dark .pp-nav-current {
	color: #fff;
}
.lqd-active-row-dark #pp-nav li.active a {
	color: #fff;
}
.lqd-active-row-dark.lqd-stack-nav-style-2 #pp-nav a,
.lqd-active-row-dark.lqd-stack-nav-style-4 #pp-nav a {
	background-color: rgba(255, 255, 255, .4);
}

/* Stack Page Number */
.lqd-active-row-dark .lqd-stack-page-number {
	border-top-color: rgba(255, 255, 255, .1);
}
.lqd-active-row-dark .lqd-stack-prevnext-button,
.lqd-active-row-dark .lqd-stack-extra-content,
.lqd-active-row-dark .lqd-stack-page-number {
	color: #fff;
}
.lqd-active-row-dark .lqd-stack-page-number a {
	color: #fff;
}
.lqd-stack-nums-style-2 .lqd-stack-page-number a:hover,
.lqd-stack-nums-style-2 .lqd-stack-page-number .active a {
	color: var(--lqd-color-primary);
}

/* MAIN HEADER */
.lqd-head-col > .lqd-active-row-light.header-module .navbar-brand .logo-dark {
	opacity: 1;
	visibility: visible;
}
.lqd-head-col > .lqd-active-row-dark.header-module .navbar-brand .logo-light ~ img {
	opacity: 0;
	visibility: hidden;
}
.lqd-head-col > .lqd-active-row-dark.header-module .navbar-brand .logo-light {
	opacity: 1;
	visibility: visible;
}
.lqd-head-col > .lqd-active-row-dark.header-module .nav-trigger {
	color: #fff;
}
.lqd-head-col > .lqd-active-row-light.header-module .nav-trigger {
	color: #000;
}
.lqd-head-col > .lqd-active-row-dark.header-module .nav-trigger.style-2 .bar:before,
.lqd-head-col > .lqd-active-row-dark.header-module .nav-trigger.style-2 .bar:after {
	background: #fff;
}
.lqd-head-col > .lqd-active-row-light.header-module .nav-trigger.style-2 .bar:before,
.lqd-head-col > .lqd-active-row-light.header-module .nav-trigger.style-2 .bar:after {
	background: #000;
}

.main-header .ld-module-dropdown {
	width: 490px;
}

/* MAIN FOOTER */
.main-footer .module-content {
	padding-right: 12vw;
	padding-left: 12vw;
}

.main-footer .module-h2-footer-1 {
	font-size: 4.2vw;
}

.main-footer .module-social {
	margin-right: -5vw;
}

@media (max-width: 1199px) {
	.main-footer .module-content {
		padding-right: 7vw;
		padding-left: 7vw;
	}
}
@media (max-width: 991px) {
	.main-footer .module-content {
		padding-right: 0;
		padding-left: 0;
	}
	.main-footer .module-line {
		margin-bottom: 35px;
	}
	.main-footer .module-h2-footer-1 {
		font-size: 60px;
		margin-bottom: 0.5em;
	}
	.main-footer .module-h2-footer-2 {
		margin-bottom: 0.5em;
	}
	.main-footer .module-spacer {
		height: 50px;
	}
	.main-footer .module-social {
		margin-top: 80px;
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	:root {
		--lqd-h1-font-size: 12vw;
	}

	.main-footer .module-content {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.main-footer .module-line {
		margin-bottom: 20px;
	}
	.main-footer .module-h2-footer-1 {
		font-size: 40px;
	}

	.main-footer .module-h2-footer-2 {
		font-size: 30px;
	}
}
