:root {
	--lqd-container-width: 1140px;
	--lqd-container-width-lg: 100%;
	--lqd-container-width-md: 100%;
	--lqd-container-width-sm: 100%;
	--lqd-container-width-xs: 100%;
	--lqd-row-gutter-y: 20px;
	--lqd-row-gutter-x: 20px;
	/*  */
	--lqd-color-primary: var(--lqd-color-gray-500);
	--lqd-color-secondary: var(--lqd-color-gray-300);
	--lqd-color-text: var(--lqd-color-gray-500);
	--lqd-color-gradient-start: var(--lqd-color-primary);
	--lqd-color-gradient-stop: var(--lqd-color-secondary);
	--lqd-color-gray-500: #4e5655;
	--lqd-color-gray-400: #76907d;
	--lqd-color-gray-300: #bab3a8;
	--lqd-color-gray-200: #ece5d8;
	--lqd-color-gray-100: #fffff4;
	--lqd-color-gray-50: rgba(118, 144, 125, 0.30);
	--lqd-color-white: #ffffff;
	--lqd-color-border-button: rgba(78, 86, 85, 0.5);
	--lqd-color-icon: rgba(78, 86, 85, 0.5);
	/*  */
	--lqd-heading-font-family: "Gilda Display", Sans-serif;
	--lqd-heading-color: var(--lqd-color-gray-400);
	--lqd-heading-font-weight: 400;
	--lqd-heading-line-height: 1.2em;
	--lqd-heading-letter-spacing: 2px;
	/*  */
	--lqd-secondary-font-family: "Inter", Sans-serif;
	--lqd-accent-font-family: "Aguafina Script", cursive, Sans-serif;
	/*  */
	--lqd-h6-font-family: "Inter", Sans-serif;
	--lqd-h1-font-size: 54px;
	--lqd-h1-line-height: 1em;
	--lqd-h2-font-size: 52px;
	--lqd-h3-font-size: 32px;
	--lqd-h4-font-size: 25px;
	--lqd-h5-font-size: 21px;
	--lqd-h6-font-size: 13px;
	--lqd-h6-line-height: 1em;
	--lqd-h6-letter-spacing: 10px;
	/*  */
	--lqd-body-font-family: "Gilda Display", Sans-serif;
	--lqd-body-font-size: 16px;
	--lqd-body-line-height: 28px;
	--lqd-body-letter-spacing: 2px;
}

@media (max-width: 767px) {
	h6, .h6 {
		letter-spacing: 4px;
	}
	h2, .h2 {
		font-size: 12vw;
		line-height: 1.1em;
	}
}

/* BUTTON */
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
	color: var(--lqd-color-gray-200);
	background-color: var(--lqd-color-primary);
}

.btn-plain:hover,
.btn-plain:focus {
	color: #ffffffc4;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* FORM */
.loader-clock {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	background-color: #fff;
	background: radial-gradient(ellipse at center, #FF3D00 0%, #FF3D00 14%, #FFF 15%, #FFF 100%);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 1px solid #ddd;
	display: none;
	margin: 1em auto 0;
}

/* TAB ITEMS */
.lqd-tabs-style-12 .lqd-tabs-nav li a.active {
	color: #000;
}
.lqd-tabs-style-12 .lqd-tabs-nav li a.active:after {
	transform-origin: left;
	transform: scaleX(1);
}

/* CAROUSEL */
.flickity-enabled.is-draggable .flickity-viewport {
	cursor: -webkit-grab;
	cursor: grab;
}

/* MAIN HEADER */
.main-header .h6 {
	letter-spacing: 2px;
}

.main-header .ld-module-sd > .nav-trigger.style-2 .bar:before,
.main-header .ld-module-sd > .nav-trigger.style-2 .bar:after {
	background: #fff;
}

.main-header .module-drawer-wrap {
	padding: unset;
}

.main-header .module-drawer {
	width: 100%;
}

.main-header .ld-dropdown-menu-content {
	font-family: "Inter", Sans-serif;
}

@media (max-width: 1199px) {
	.module-header-mobile {
		padding: 20px;
	}
}

.main-header .iconbox .contents {
	font-family: "Inter", Sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #ffffff;
}

/* MAIN FOOTER */
.main-footer .module-social a:hover svg {
	fill: var(--lqd-color-primary);
} 
@media (max-width: 767px) {
	.module-menu {
		margin-bottom: 10px;
	}
	.main-footer .module-menu li:not(:last-child) {
		margin-right: 20px;
	}
}