:root {
	--lqd-container-width: 1170px;
	--lqd-container-width-md: 970px;
	--lqd-container-width-sm: 750px;
	--lqd-row-gutter-y: 0;
	--lqd-row-gutter-x: 30px;
	/*  */
	--lqd-color-primary: #e33730;
	--lqd-body-text-color: #0e2557;
	--lqd-color-secondary: #060e62;
	--lqd-color-heading-common: #060e62;
	--lqd-color-text: #0e2557;
	--lqd-color-blue-700: #161827;
	--lqd-color-blue-800: #1e1735;
	--lqd-color-blue-900: #1e1f2c;
	--lqd-color-gray-900: #2a2a2a;
	--lqd-color-gray-700: #737a80;
	--lqd-color-gray-500: #494b5d;
	--lqd-color-gray-300: #eff0f6;
	--lqd-color-red-100: #fdf3f2;
	--lqd-color-yellow-500: #ffe9b3;
	--lqd-color-gradient-start: #e33730;
	--lqd-color-gradient-stop: #e33730;
	/*  */
	--lqd-body-font-family: 'Be Vietnam Pro', sans-serif;
	--lqd-body-font-weight: 400;
	--lqd-body-line-height: 1.6em;
	--lqd-body-font-size: 15px;
	--lqd-body-color: var(--lqd-body-text-color);
	/*  */
	--lqd-heading-font-family: 'Be Vietnam Pro', sans-serif;
	--lqd-heading-font-weight: 700;
	--lqd-heading-line-height: 1.2em;
	--lqd-heading-letter-spacing: -.02em;
	--lqd-heading-color: var(--lqd-color-heading-common);
	--lqd-h1-font-size: 42px;
	--lqd-h2-line-height: 1.28em;
	--lqd-h2-font-size: 39px;
	--lqd-h3-font-size: 32px;
	--lqd-h4-font-weight: 500;
	--lqd-h4-font-size: 25px;
	--lqd-h5-font-weight: 500;
	--lqd-h5-font-size: 21px;
	--lqd-h6-letter-spacing: .11em;
	--lqd-h6-font-size: 12px;
	--lqd-h6-text-transform: uppercase;
	/*  */
	--lqd-cc-size-inner: 7px;
	--lqd-cc-active-bw: 1px;
	--lqd-cc-active-bg: #000;
	--lqd-cc-active-bc: #000;
	--lqd-cc-size-outer: 35px;
	--lqd-cc-br: calc(var(--lqd-cc-size-outer) /2);
	--lqd-cc-bc: var(--lqd-color-primary);
	--lqd-cc-bg: var(--lqd-color-primary);
	--lqd-cc-bw: 1px;
	--lqd-cc-active-circle-color: #fff;
	--lqd-cc-active-circle-txt: #000;
	--lqd-cc-active-arrow-color: #fff;
	
}

/* CUSTOM CURSOR */
.lqd-cc-custom-icon {
	display: inline-flex;
	width: 54px;
	height: 54px;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 30px;
	position: absolute;
	top: calc(50% - 27px);
	left: calc(50% - 27px);
	align-items: center;
	justify-content: center;
	font-size: 30px;
	line-height: 1;
	color: #fff;
	opacity: 0;
	transform: scale(1.1);
	transition: all .3s;
	transition-property: transform, opacity;
}

.main-nav {
	--lqd-menu-items-top-padding: 10px;
	--lqd-menu-items-bottom-padding: 10px;
	--lqd-menu-items-left-padding: 22px;
	--lqd-menu-items-right-padding: 22px;
	flex: 1 auto;
}

/* MAIN HEADER */
.is-stuck {
	background-color: #fff;
}

.is-stuck .lqd-head-col > .header-module > .module-btn-solid {
	background-color: var(--lqd-color-red-100);
	color: #000;
}
.is-stuck .lqd-head-col > .header-module > .module-btn-solid:hover {
	background-color: var(--lqd-color-primary);
	color: #fff;
}

.main-header .module-col-slider {
	width: 350px;
}

.main-header .module-btn-triger {
	transform: rotate(-90deg);
}

.main-header .module-btn-triger .bar:before,
.main-header .module-btn-triger .bar:after {
	background: var(--lqd-color-secondary);
}

.lqd-mobile-sec .main-nav {
	font-size: 16px;
}

.lqd-mobile-sec ul.main-nav.lqd-mobile-main-nav > li > a {
	border: none;
}

/* MAIN FOOTER */
.ld-sf button.ld_sf_submit {
	color: #fff;
	border-color: rgba(151, 151, 151, .2);
}

.ld-sf .submit-text + .submit-icon {
	margin-inline-start: 0;
}

@media (max-width: 767px) {
	.ld-sf .submit-text + .submit-icon {
		margin-inline-start: 0.65em;
	}
}