/* BANNER */
.banner .module-col {
	padding-right: 18%;
	padding-left: 18%;
}

.banner .module-content {
	padding: 2.5em 7vw 2em 7vw;
}

.banner h1 {
	font-size: 7vmin;
}

.banner .module-bg:hover .row-bg-inner {
	transform: scale(1.075);
}

.features-carousel .flickity-button {
	color: #fff;
}

@media (max-width: 1024px) {
	.banner .module-col {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 991px) {
	.banner .module-col {
		padding: 150px 15px;
	}

	.banner .module-bg {
		padding-top: 50vw;
	}
}

@media (max-width: 767px) {
	.banner h1 {
		font-size: 12vw;
	}

	.banner .module-col {
		padding: 110px 15px;
	}
}

/* ABOUT */
@media (max-width: 991px) {
	.about {
		padding-top: 100px;
	}

	.about .module-col {
		margin-bottom: 30px;
	}
}

/* CASE STUDIES */
.case-studies .lqd-fb-style-6 .lqd-fb-content h6 {
	letter-spacing: 0.2em;
}

.case-studies .lqd-fb-content h2:last-child {
	margin-bottom: 1rem !important;
}

@media (max-width: 991px) {
	.case-studies {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.pricing {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.case-studies .module-content {
		border-radius: 10px;
		margin-bottom: 30px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* ACCORDION */
@media (max-width: 991px) {
	.accordion .module-content {
		margin-bottom: 40px;
	}
}

/* PRICING */
@media (max-width: 991px) {
	.pricing .module-price {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* SERVICES*/
.services {
	margin-right: 12vw;
	margin-left: 12vw;
}

.services:hover figure {
	transform: scale(1.075);
}

.services .lqd-carousel-slides-numbers {
	color: rgba(255, 255, 255, 0.72);
}

.services .lqd-carousel-slides-current {
	color: #fff;
}

.services .carousel-dots-mobile .flickity-page-dots .dot {
	background-color: rgba(255, 255, 255, .5);
}

.services .carousel-dots-mobile .flickity-page-dots .dot.is-selected {
	background-color: #fff;
}

@media (max-width: 991px) {
	.services {
		margin-right: 15px;
		margin-left: 15px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.services h2 {
		line-height: 1em;
	}
}

@media (max-width: 767px) {
	.services h2 {
		font-size: 15vw;
	}
}

/* TESTIMONIALS */
@media (max-width: 991px) {
	.testimonials .module-title {
		margin-bottom: 30px;
	}

	.testimonials .module-title h2 {
		margin-bottom: 0.5em;
	}
}

/* BLOG */
@media (max-width: 991px) {
	.blog {
		padding-top: 60px;
	}

	.blog .module-title {
		margin-bottom: 1em;
	}
}

@media (max-width: 767px) {
	.lqd-lp-contents {
		padding: 1.5rem;
	}
}

@media (max-width: 767px) {
	.contact .module-col {
		margin-bottom: 20px;
	}
}

/* CONTACT IMAGE */
.contact-image {
	padding-top: 130px;
	padding-bottom: 130px;
}

.contact-image:hover figure {
	transform: scale(1.075);
}

@media (max-width: 1199px) {
	.contact-image .module-spacer {
		height: 25px;
	}
}

@media (max-width: 991px) {

	.contact-image .btn-solid {
		padding: 1.15em 2.5em;
	}
}